{% extends 'layouts/authentication.html.twig' %}

{% block title %}Login{% endblock %}
{% form_theme registrationForm 'themes/theme.html.twig' %}

{% block body %}
    <h1 class="text-3xl text-slate-800 font-bold mb-6">{{ ('Create your Account') }} ✨</h1>
    <!-- Form -->
    {{ form(registrationForm) }}
    <div class="pt-5 mt-6 border-t border-slate-200">
        <div class="text-sm">
            {{ ('Have an account?') }} <a class="font-medium text-indigo-500 hover:text-indigo-600"
                                            href="{{ path('app_login') }}">{{ ('Sign In') }}</a>
        </div>
    </div>
{% endblock %}
